body {
	/*font-family: FrutigerCondensed;*/
	font-family: Frutiger, system-ui, Roboto, sans;
    color: #333333;
    font-size: 16px;
}

@keyframes blink {
    0% { opacity:1 } 75% { opacity:1 } 76% { opacity:0 } 100% { opacity:0 }
}

blink, .blink-css {
    animation:blink 0.75s ease-in infinite alternate!important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
	height: 56px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    vertical-align: top;
    text-align: left;
}

tr:hover td {background:#e0e0e0;}

/*
tr:nth-child(even) {
    background-color: #f9f9f9;
}
*/

.hidden {
    display: none;
}

.expanded {
    display: table-row;
}

.multi-line-ellipsis {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

